
@{
    ViewBag.Title = "HoaChiaBuon";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400;1,700&display=swap" rel="stylesheet">

<link href="~/Content/genaral.css" rel="stylesheet" />
<link href="~/Content/header.css" rel="stylesheet" />
<link href="~/Content/sidebar.css" rel="stylesheet" />
<link href="~/Content/product.css" rel="stylesheet" />

<div class="product-grid" style="  background-color: rgb(27, 27, 27, 0.57);">
    <div class="product">
        <div class="">
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon1.png" alt="">
            <div class="phanTram">8%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Kệ Hoa Tang Giá Vẽ Hiện Đại</p>
            <div class="giamgia">
                <p class="sale">2.500.000đ</p>
                <p>2.300.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon2.png" alt="">
            <div class="phanTram">10%</div>

        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Kệ Hoa Chia Buồn Kiểu Hiện Đại</p>
            <div class="giamgia">
                <p class="sale">2.000.000đ</p>
                <p>1.800.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon3.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Kệ Hoa Tang Thành Kính Chia Buồn</p>
            <p>1.050.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon4.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chia Buồn Sale Mạnh</p>
            <p>800.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon5.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Vòng Hoa Tang Lễ</p>
            <div class="giamgia">
                <p>1.095.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon6.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Vòng Hoa Tang Lễ Kính Viếng</p>
            <p>1.400.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon7.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Tang Lễ Sang Trọng Nhất</p>
            <p>2.700.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon8.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Tang Lễ Nhập Khẩu</p>
            <p class="">1.800.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon9.png" alt="">
            <div class="phanTram">5%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chia Buồn Mới Nhất</p>
            <div class="giamgia">
                <p class="sale">1.000.000đ</p>
                <p>959.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon10.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chia Buồn Ý Nghĩa Sâu Sắc</p>
            <p class="">1.800.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src=~/anh/chiaBuon/chiaBuon11.png alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Lẵng Hoa Đám Tang Gia Rẻ</p>
            <p>990.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chiaBuon/chiaBuon12.png" alt="">
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chia Buồn Đ</p>
            <p>1.868.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>


</div>


