@{
    ViewBag.Title = "HoaChucMung";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400;1,700&display=swap" rel="stylesheet">

<link href="~/Content/genaral.css" rel="stylesheet" />
<link href="~/Content/header.css" rel="stylesheet" />
<link href="~/Content/sidebar.css" rel="stylesheet" />
<link href="~/Content/product.css" rel="stylesheet" />


<div class="product-grid" style="background-color: rgb(237, 255, 0, 0.60)">
    <div class="product">
        <div class="">
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung1.png" alt="">
            <div class="phanTram">50%</div>

        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chúc Mừng</p>
            <div class="giamgia">
                <p class="sale">2.000.000đ</p>
                <p>999.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung2.png" alt="">
            <div class="phanTram">30%</div>

        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Chậu Hoa Cúc Mẫu Đơn</p>
            <div class="giamgia">
                <p class="sale">1.800.000đ</p>
                <p>1.260.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung3.png" alt="">
            <div class="phanTram">10%</div>

        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Bó Mẫu Đơn Xanh</p>
            <div class="giamgia">
                <p class="sale">2.500.000đ</p>
                <p>2.250.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung4.png" alt="">
            <div class="phanTram">10%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chúc Mừng Để Bàn</p>
            <div class="giamgia">
                <p class="sale">2.000.000đ</p>
                <p>1.800.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung5.png" alt="">
            <div class="phanTram">15%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Hồng Để Bàn</p>
            <div class="giamgia">
                <p class="sale">2.300.000đ</p>
                <p>1.995.000đ</p>
            </div>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung6.png" alt="">
            <div class="phanTram">0%</div>

        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chúc Mừng Để Bàn</p>
            <p>700.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung7.png" alt="">
            <div class="phanTram">0%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Giỏ Hoa Hồng Xinh</p>
            <p>700.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung8.png" alt="">
            <div class="phanTram">0%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Hồng Ecudor Nhập Khẩu</p>
            <p class="">1.800.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung9.png" alt="">
            <div class="phanTram">5%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Bình Hoa Cúc Mẫu Đơn Siêu To</p>
            <p>2.050.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung10.png" alt="">
            <div class="phanTram">0%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Chúc Mừng Khai Trương Để Bàn</p>
            <p class="">1.800.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src=~/anh/chucMung/chucMung11.png alt="">
            <div class="phanTram">0%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Bình Hoa Hồng 7 Màu</p>
            <p>1.990.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>

    <div class="product">
        <div>
            <img class="anh-sanpham" src="~/anh/chucMung/chucMung12.png" alt="">
            <div class="phanTram">0%</div>
        </div>
        <div class="thongTin-sanpham">
            <p class="ten-sanpham">Hoa Tất Niên</p>
            <p>868.000đ</p>
            <div class="hieuung">
                <button class="nut-themVaoGioHang">
                    <p>Thêm vào giỏ hàng</p>
                </button>
            </div>
        </div>
    </div>


</div>
