<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration:none; color: red; font-weight: bold">
    <div class="cart">
        <img class="xe" src="/anh/logo-xeday.png" /> <!--Cart (@ViewBag.TotalNumber)-->   @*//div*@
    </div>
</a>
