@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align: center">
    <h2><strong>Đặt hàng thành công !!</strong></h2>
    <h4>Đơn đặt hàng của bạn đã được gửi tới cửa hàng. Bạn sẽ nhận được cuộc gọi xác nhận thông tin đơn hàng trong vòng 24h tới. Xin Cám Ơn.</h4>

    <br />
    <a href="@Url.Action("Index", "CustomerProducts")">Tiếp Tục Mua Hàng</a>
</body>
</html>
