p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    font-family: Roboto, Arial;
}

a {
    text-decoration: none;
    color: white;
}

    a:active {
        color: lightpink;
    }
